<div>
        <h2>mimiно</h2>
        <h3 class="complex">Ресторанно-готельний комплекс</h3>
        <h3 class="restaurant">Ресторан</h3>
        <a href="tel:+095 555 95 33" class="restaurant-tel link"><svg class="caption-address-icon" width="24"
                height="24">
<use href="../../img/icon.svg#icon-phone"></use>
            </svg>+095 555 95 33</a>
        <h3 class="restaurant">Готель</h3>
        <a href="tel:+066 849 10 89" class="restaurant-tel link"><svg class="caption-address-icon" width="24"
                    height="24">
<use href="../../img/icon.svg#icon-phone"></use>
        </svg> +066 849 10 89</a>
            <a href="tel:+066 849 10 89" class="restaurant-tel link">+066 849 10 89</a>
         <a href="tel:+066 849 10 8" class="restaurant-tel link"><svg class="caption-address-icon" width="10" height="16">
                <use href="./images/icons.svg#icon-smartphone"></use>
            </svg></a>
        <p> Україна, м. Полтава, вул. Маршала Бірюзова, 15 </p>
    </div>
